<div class="article">
	<img src="img/article_tel.png" alt="Телефон" class="article__part img">
	<article class="article__part info">
		<span class="info__head">Типы контента, которые вы <br>можете публиковать в своем интернет-магазине.</span>
		<p class="info__text">Грамотная контентная стратегия для интернет-магазина <br>позволяет значительно увеличить объемы поискового трафика<br> на сайт, за который предпринимателю нет необходимости<br> платить. Это повышает рентабельность бизнеса, ускоряет его развитие и дает преимущество...</p>	
		<a href="#" class="info__button-detailed">Подробнее</a>
	</article>
</div>