
.header {
	height: 80px;
	display: block;
	position: relative;

	&__logo {
		width: 87px;
		height: 41px;
		margin-top: 19px;
		padding-left: 1px;
		float: left;
	}
}

.menu {
	float: right;		
    list-style: none;

    &__item {
    	margin-top: 14px;
    	display: inline-block;
    }    

	&__link {
		margin-left: 31px;
		text-decoration: none;
		color: #000;
		font-size: 16px;
		font-weight: bold;
		font-family: 'Tahoma';
		font-stretch: condensed;
	}
}
